<div class="worktime-item">
  <h3 class="worktime-item__title mat-small" (click)="toggleDetail()">
    <div class="worktime-item__date">30.01.2019</div>
    <div class="worktime-item__hours">8.4h</div>
  </h3>
  <div class="worktime-item__details">
    <div class="worktime-item__detail-hours mat-small">
      <div class="worktime-item__morning-hours">
        <span class="worktime-time">07:15</span>
        <span class="worktime-time-separator">&nbsp;</span>
        <span class="worktime-time">12:00</span>
      </div>
      <div class="worktime-item__afternoon-hours">
        <span class="worktime-time">13:05</span>
        <span class="worktime-time-separator">&nbsp;</span>
        <span class="worktime-time">17:00</span>
      </div>
    </div>
  </div>
</div>