
.worktime-item {
    display: flex;
    padding: 0.5rem 0;
}

.worktime-item__title,
.worktime-item__details {
    margin: 0;
}

.worktime-item__details {
    margin-left: 1.5rem;
    color: rgba(0, 0, 0, 0.54);
}

.worktime-item__title {
    font-weight: 600;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.worktime-item__hours {
    padding: 0 0.25rem;
    align-self: flex-end;
    border-radius: 5px;
    background: #f44336;
    color: white;
}

.worktime-item__details {
    flex: 1;
    align-self: center;
}

.worktime-item__detail-hours {
    display: flex;
}

.worktime-time-separator {
    flex: 1;
    background: rgba(0, 0, 0, 0.54);
    height: 1px;
    align-self: center;
    margin: 0 0.5rem;
}

.worktime-item__morning-hours,
.worktime-item__afternoon-hours {
    flex: 0 0 50%;
    display: flex;
}

.worktime-item__morning-hours {
    padding-right: 1rem;
}

.worktime-item__afternoon-hours {
    padding-left: 1rem;
}